In [ ]:
</> Searching a Collection List

In [ ]:
# Original Code Stub

# Nearest stars to Earth
star1 = 'Sol'
star2 = 'Alpha Centauri'
star3 = 'Barnard'
star4 = 'Wolf 359'

# Highest peak on each tectonic plate
African = 'Kilimanjaro'
Antarctic = 'Vinson'
Australian = 'Puncak Jaya'
Eurasian = 'Everest'
North_American = 'Denali'
Pacific = 'Mauna Kea'
South_American = 'Aconcagua'

In [1]:
# Mission 1 - Find the 4th closest star to Earth

# rewrite variables as list
stars = ['Sol', 'Alpha Centauri', 'Barnard', 'Wolf 359',]

print(stars[3])

Wolf 359

In [2]:
# Mission 2 - Find the highest peak on the Pacific plate

# rewrite variables as dictionary
peaks = {'African': 'Kilimanjaro', 'Antarctic': 'Vinson',
'Australian': 'Puncak Jaya', 'Eurasian': 'Everest',
'North_American': 'Denali', 'Pacific': 'Mauna Kea',
'South_American': 'Aconcagua',}

print(peaks['Pacific'])

Mauna Kea

In [3]:
# Mission 3 - combine revised code for a single script

# rewrite variables as list
stars = ['Sol', 'Alpha Centauri', 'Barnard', 'Wolf 359',]

peaks = {'African': 'Kilimanjaro', 'Antarctic': 'Vinson',
'Australian': 'Puncak Jaya', 'Eurasian': 'Everest',
'North_American': 'Denali', 'Pacific': 'Mauna Kea',
'South_American': 'Aconcagua',}

print(stars[3])
print(peaks['Pacific'])

Wolf 359
Mauna Kea