In [ ]:
</> Converting Miles to Kilometers

Take a user value, convert to km, add text description to result

In [1]:
# Original Code Stub

miles = input('Enter a distance in miles: ')
# kilometers_value = miles_value * 1.609344

Enter a distance in miles:  5

In [2]:
# Step 1 - add a print statement to return something
miles = input('Enter a distance in miles: ')
# kilometers_value = miles_value * 1.609344

print(miles)

Enter a distance in miles:  5

5

In [4]:
# Step 2 - convert miles input to a float

miles = input('Enter a distance in miles: ')
# kilometers_value = miles_value * 1.609344

mi_value = float(miles)
print(miles)

Enter a distance in miles:  5

5

In [5]:
# Step 3 - create a variable which returns miles by multiplier

miles = input('Enter a distance in miles: ')
# kilometers_value = miles_value * 1.609344

km_value = mi_value * 1.609344
print(km_value)

Enter a distance in miles:  5

8.04672

In [6]:
# Step 4 - return a text description about the conversion.

miles = input('Enter a distance in miles: ')
# kilometers_value = miles_value * 1.609344

km_value = mi_value * 1.609344
print(f"{miles} miles is the same as {km_value} kilometers")

Enter a distance in miles:  5

5 miles is the same as 8.04672 kilometers